{% extends "pizzas/base.html" %}
{% load static %}

{% block content %}

<br><br>

<h3>
    <p>{{ pizza }} Pizza</p>
</h3>

<br>

<img src="{% static '' %}{{pizza}}.jpg" alt="{{pizza}}" width="400" height="400">

<br>

<h4>
    <p>Toppings</p>
</h4>

<ul>
    {% for topping in toppings %}
    <li>
        <p>{{ topping.name }}</p>
    </li>
    {% empty %}
    <li>There are no toppings on this pizza!</li>
    {% endfor %}
</ul>

<br>

<td>Comments: &nbsp <a href="{% url 'pizzas:pizza_comment' pizza.id%}">Leave a comment</a> &nbsp &nbsp</td>

{% endblock content %}